body{
  background-image: url("sea.jpg");
  background-size: no-repeat;
  display: flex;
  justify-content:center;
  margin-top:5%;
  margin-bottom:5%;
}
.main{
  padding: 40px;
  width: 250px;
  background-color: #95bade;
  border: 2px solid #26527C;
}

h1{
  margin-left: 25%;
  margin-right: 25%;
}

p{
  padding: 5%;
  border: 1px solid #26527C;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
